.section-form {
    display: flex;
    justify-content: center;
    margin: 80px;
    gap: 32px;
    flex-wrap: wrap;
}

.section-form form {
    flex: 1;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    padding: 36px 64px;
}